[Unit]
Description=asl3-update-astdb runs at boot and 4x/day
Requires=asl3-update-astdb.service

[Timer]
OnBootSec=60s
OnUnitInactiveSec=6h
RandomizedDelaySec=300

[Install]
WantedBy=timers.target

