[Unit]
Description=asl3-update-nodelist runs every 180 seconds
Requires=asl3-update-nodelist.service

[Timer]
OnBootSec=60s
OnUnitInactiveSec=180
RandomizedDelaySec=120

[Install]
WantedBy=timers.target

