[Unit]
Description=Update ASL3 on-disk nodelist db
After=network.target

[Service]
Type=oneshot
User=asterisk
Group=asterisk
ExecStart=/usr/bin/asl3-update-nodelist
