[Unit]
Description=Update ASL3 on-disk nodelist db
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=asterisk
Group=asterisk
ExecStart=/usr/bin/asl3-update-nodelist

[Install]
WantedBy=multi-user.target
